@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Output">
    <label>Please Enter your first name:</label>
    <input name="FirstName" id="fname" />
    <br />
    <label>Please Enter your last name :</label>
    <input name="LastName" id="lname" />
    <br />
    <label>Please Enter your Email Id      :</label>
    <input name="Email" id="email" />
    <br />
    <label>Please Enter your password  :</label>
    <input type="Password" name="Password" id="password" />
    <br />
    

    <input type="submit" />
</form>
