@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Welcome To our CoffeeShop</p>
<p>Name     : @ViewData["FirstName"]  @ViewData["LastName"]</p>
<p>Email Id : @ViewData["Email"]</p>
